@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #E63946;
}

body {
  margin: 0;
  background-color: #0A0A0A;
  color: white;
  font-family: 'Inter', sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}